*{
    margin: 0;
    padding: 0;
}
/*Deafult work*/
 .clear-fix::after{
    content: "";
    display: block;
    clear: both;
} 
.middel-div{
    width: 1024px;
    text-align: center;
    margin: auto;
}

/*Header Div*/
.header-div{
    position: relative;
}
.header-div .img-left img{
    width: 300px;
    height: auto;
    display: block;
}
.header-div .img-left{
    position:absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.header-div .img-right img{
    width: 283px;
    height: auto;
    display: block;
}
.header-div .img-right{
    position:absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.header ul li{
    display: inline-block;
    margin-top: 55px;
    position: relative;
}
.header a{
    text-decoration: none;
    display: block;
    color: #7f8c8d;
    padding: 0 15px;
    margin-left: 36px;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    z-index: 1;
    
}
.header a:hover{
    color: darkblue;
    transform: .5s;
}
.a-bottom{
    width: 20px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
}
.header li:nth-child(5) a{
    border: 2px solid blue;
    color: blue;
    padding:5px 15px;
}

/* Slider part */

.slider .mosq img{
    width: 350px;
    height: auto;
}
.slider .mosq{
    margin-top: 100px;
}

/*Section Part*/
.section{
    margin-top: 40px;
}
.section .section-left{
    float: left;
    width: 47%;
    border: 2px solid #ddd;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.section-left p{
    text-align: justify;
}
.section-left h1{
    text-align: center;
}
.section .section-right{
    float:right;
    width: 47%;
    border-top: 2px solid #ddd;
    border: 2px solid #ddd;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
} 
.section .section-right p{
    text-align: justify;
}
.section .section-h1{
    padding: 10px;
    text-align: left;
}

/*Div-Section-1*/

.div-section-1{
    width: 100%;
    height: 250px;
    background-color: darkblue;
    margin-bottom: 60px;
    position: relative;
}
.img-left-top{
    display: inline-block;
    position: absolute;
}
.img-left-top img{
    width: 200px;
    margin-top: 10px;
    margin-left: 35px;
   
}
.img-left-bottom{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.img-left-bottom img{
    width: 400px;
    height: auto;
    margin-left: -60px;
    margin-bottom: 20px;
}
.img-right-top{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.img-right-top img{
    width: 400px;
    margin-right: -90px;
    margin-top: 15px;
}
.img-right-bottom{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}
.img-right-bottom img{
    width: 150px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 30px
}
.middel-div h2{
    color: white;
    font-size: 44px;
    max-width: 34%;
    margin: auto;
    display: inline-block;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.location{
    float: left;
    width: 30.3%;
    height: 200px;
    box-sizing: border-box;
    border: 2px solid #ddd;
    margin-right: 15px;
}
.location p{
    padding: 10px;
    
}
.location h3{
    padding: 10px 0 0 0;
   
}